In [1]:
import pandas as pd

In [3]:
offenders = pd.read_csv('Sex_Offenders.csv')

In [4]:
employees = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

In [5]:
offenders

,LAST,FIRST,BLOCK,GENDER,RACE,BIRTH DATE,AGE,HEIGHT,WEIGHT,VICTIM MINOR
0,COKER,WILLIE,068XX S BELL AVE,MALE,BLACK,08/22/1963,54.0,600,160,N
1,NOLANO,EMILIO,030XX N KENNETH AVE,MALE,BLACK,08/22/1991,26.0,510,150,N
2,CARCHI,BAYRON,035XX W MC LEAN AVE,MALE,WHITE HISPANIC,08/22/1984,33.0,504,140,Y
3,WALTON,CURTIS,008XX E 82ND ST,MALE,BLACK,08/22/1960,57.0,509,190,Y
4,MOSIER,CARL,026XX W LAWRENCE AVE,MALE,WHITE,08/23/1963,54.0,509,150,Y
5,LYONS,RICHARD,026XX W MONTROSE AVE,MALE,WHITE,08/24/1962,55.0,510,180,Y
6,HARGROVE,ERIC,10XXX S SACRAMENTO AVE,MALE,WHITE,08/26/1981,36.0,511,185,N
7,MCHUGH,DONALD,10XXX S COMMERCIAL AVE,MALE,WHITE,08/27/1959,58.0,511,180,Y
8,BROOMS,ROY,063XX S ABERDEEN ST,MALE,BLACK,08/27/1956,61.0,507,154,Y
9,STEWART,GEORGE,007XX W GRAND AVE,MALE,WHITE,08/28/1940,77.0,600,160,Y
10,REDMOND,ROBERT,021XX S SPRINGFIELD AVE,MALE,BLACK,08/28/1962,55.0,509,142,Y
11,JACKSON,RUSSELL,11XXX S EMERALD AVE,MALE,BLACK,08/29/1957,60.0,601,238,N
12,COBURN,LEROY,067XX S ARTESIAN AVE,MALE,BLACK,08/30/1971,46.0,509,210,N
13,KOWALSKI,DEAN,10XXX S RIDGEWAY AVE,MALE,WHITE,08/30/1956,61.0,510,205,Y
14,CIK,CHADD,040XX N KEDVALE AVE,MALE,WHITE,08/30/1963,54.0,600,200,N
15,RAMIREZ,RUBEN,041XX S MAPLEWOOD AVE,MALE,WHITE HISPANIC,08/30/1966,51.0,511,210,N
16,WEATHERSPOON,JASON,11XXX S EGGLESTON AVE,MALE,BLACK,08/31/1988,29.0,603,178,N
17,HILDEBRAND,ERIK,086XX S BALTIMORE AVE,MALE,WHITE,08/31/1976,41.0,602,150,N
18,MATTHESS,JAMES,023XX W 18TH PL,MALE,WHITE,08/31/1967,50.0,600,170,Y
19,JACOME,CARLOS,027XX W CHICAGO AVE,MALE,WHITE,08/31/1989,28.0,505,165,Y
20,DELGADO,PEDRO,019XX W SUPERIOR ST,MALE,WHITE HISPANIC,09/01/1958,59.0,505,160,Y
21,STANCIEL,ALONZO,066XX S WABASH AVE,MALE,BLACK,09/01/1963,54.0,600,292,Y
22,BANKS,NATHANIEL,060XX S WOOD ST,MALE,BLACK,09/02/1969,48.0,507,190,Y
23,DUPATY,KENNETH,069XX S JEFFERY BLVD,MALE,BLACK,09/02/1956,61.0,508,180,Y
24,WATSON,JEROME,13XXX S RHODES AVE,MALE,BLACK,09/03/1980,37.0,506,160,Y
25,CERNA,MARTIN,040XX S ARTESIAN AVE,MALE,WHITE HISPANIC,09/04/1988,29.0,500,125,Y
26,FRYE,COURTNEY,11XXX S PARNELL AVE,MALE,BLACK,09/04/1984,33.0,504,119,Y
27,BUTLER,TYRELL,082XX S TALMAN AVE,MALE,BLACK,09/04/1984,33.0,509,205,Y
28,CORY,HARDING,015XX W 68TH ST,MALE,BLACK,09/04/1923,94.0,508,147,Y
29,ANDERSON,JOHN,028XX W 64TH ST,MALE,BLACK,09/05/1962,55.0,505,140,Y
...,...,...,...,...,...,...,...,...,...,...
1072,STRAUSS,ADAM,039XX N PLAINFIELD AVE,MALE,WHITE,08/13/1988,30.0,601,210,Y
1073,FLORES,ALFREDO,10XXX S HOXIE AVE,MALE,WHITE HISPANIC,08/14/1986,32.0,509,176,N
1074,DELGADO,JOSE,018XX S CANALPORT AVE,MALE,WHITE HISPANIC,04/14/1960,58.0,505,175,Y
1075,WATSON,RONALD,025XX W GUNNISON ST,MALE,WHITE,10/12/1980,37.0,510,190,Y
1076,RODRIGUEZ,ARMANDO,043XX S HONORE ST,MALE,WHITE HISPANIC,08/14/1975,43.0,509,180,Y
1077,GRIFFIN,MAURICE,017XX W 81ST ST,MALE,BLACK,08/15/1962,56.0,506,140,N
1078,WHITE,ANDRE,022XX S KILDARE AVE,MALE,BLACK,08/15/1975,43.0,508,250,N
1079,LEPAK,ERIC,054XX N KENMORE AVE,MALE,WHITE,08/15/1952,66.0,602,195,Y
1080,BRADSHAW,JAMES,10XXX S ST LAWRENCE AVE,MALE,WHITE,08/16/1941,77.0,507,140,Y
1081,MASSEY,ROBERT,055XX S ADA ST,MALE,BLACK,08/16/1959,59.0,511,175,N
1082,FELICIANO,GABRIELLE,035XX S DAMEN AVE,FEMALE,WHITE HISPANIC,05/16/1983,35.0,507,139,Y
1083,BERANEK,RICHARD,027XX W CHICAGO AVE,MALE,WHITE,08/16/1964,54.0,600,185,Y
1084,LINTON,RICHARD,018XX S HARDING AVE,MALE,BLACK,12/28/1961,56.0,509,200,Y
1085,STRONG,CHARLES,003XX W 118TH ST,MALE,BLACK,08/16/1990,28.0,507,145,Y
1086,JENKA,JAMES,022XX S ARCHER AVE,MALE,WHITE,08/16/1960,58.0,601,180,Y
1087,GARCIA,ISRAEL,040XX W CARROLL AVE,MALE,WHITE HISPANIC,08/18/1972,46.0,511,150,N
1088,GRAHAM,JOSHUA,12XXX S PRINCETON AVE,MALE,BLACK,08/18/1986,32.0,601,320,N
1089,GILLIAM,JUSTIN,080XX S MUSKEGON AVE,MALE,BLACK,08/19/1951,67.0,511,200,Y
1090,SIMS,JERRY,075XX S KINGSTON AVE,MALE,BLACK,08/19/1946,72.0,504,132,Y
1091,WELLS,RICKY,006XX W 117TH PL,MALE,BLACK,08/20/1951,67.0,602,220,Y
1092,OTIS,HENRY,014XX W 72ND ST,MALE,BLACK,12/13/1974,43.0,510,265,N
1093,ELDERS,SCOTT,007XX W GRAND AVE,MALE,WHITE,08/20/1971,47.0,511,150,Y
1094,PROFIT,MICHELLE,019XX W 59TH ST,FEMALE,BLACK,07/03/1984,34.0,506,155,Y
1095,NAVARRO,JUAN,044XX S KEATING AVE,MALE,WHITE HISPANIC,08/20/1984,34.0,509,160,Y
1096,LITTLE,SAUL,072XX S HERMITAGE AVE,MALE,BLACK,08/20/1971,47.0,601,160,N
1097,PRUITT,TERRY,067XX S CARPENTER ST,MALE,BLACK,08/20/1961,57.0,601,220,Y
1098,FLETCHER,DARYL,044XX W CARROLL AVE,MALE,BLACK,08/21/1959,59.0,505,172,Y
1099,LOCHARD,JACQUES,087XX S CONSTANCE AVE,MALE,BLACK,08/21/1987,31.0,603,195,Y
1100,KILBURY,TROY,002XX E SUPERIOR ST,MALE,WHITE,07/30/1975,43.0,507,330,Y
1101,SIMMONS,MICHAEL,076XX S YATES BLVD,MALE,BLACK,08/21/1978,40.0,600,215,Y

In [6]:
employees

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
20,"ABDULSATTAR, MUDHAR",CIVIL ENGINEER II,WATER MGMNT,F,Salary,NaN,65448.0,NaN
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
22,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
23,"ABERCROMBIE IV, EARL S",PARAMEDIC I/C,FIRE,F,Salary,NaN,82614.0,NaN
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
25,"ABFALL, RICHARD C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
27,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
29,"ABOUELKHEIR, HASSAN A",SENIOR PROGRAMMER/ANALYST,FAMILY & SUPPORT,F,Salary,NaN,110064.0,NaN
...,...,...,...,...,...,...,...,...
33153,"ZUNIGA, NOE",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33154,"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
33155,"ZUNIGA, RONALD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,22.12
33157,"ZUNIGA, VICENTE",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,92274.0,NaN
33158,"ZUNO, ERIK",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
33159,"ZUPAN, BILL M",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.0,NaN
33160,"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33161,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33162,"ZURAWSKI, MAC Z",REFUSE COLLECTION COORD,STREETS & SAN,F,Salary,NaN,76896.0,NaN
33163,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33165,"ZUREK, MARY H",SENIOR PUBLIC INFORMATION OFFICER,FINANCE,F,Salary,NaN,89076.0,NaN
33166,"ZURITA, ADRIEL",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33167,"ZVANJA, TINA M",LEGAL SECRETARY,LAW,F,Salary,NaN,76932.0,NaN
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33170,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33171,"ZWOLFER, MATTHEW W",LIEUTENANT-EMT,FIRE,F,Salary,NaN,114324.0,NaN
33172,"ZYCH, MATEUSZ",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33173,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85
33176,"ZYGMUNT, ARTUR",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33177,"ZYGMUNT, DAWID",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

In [18]:
#Find the intersection of the two datasets
overlap = None

for offender in offenders.iterrows():
    first = offender[1]['FIRST']
    last = offender[1]['LAST'] 
    
    #TODO: Make sure we're not matching the first name on the last name, and vice versa
    extracts = employees.loc[
        employees['Name'].str.contains(first) &
        employees['Name'].str.contains(last)
    ]
    if len(extracts) > 0:
        if overlap is None:
            overlap = extracts
        else:
            overlap = pd.concat([overlap, extracts])
            
#Deduplicate
overlap = overlap[~overlap.index.duplicated(keep='first')]

In [19]:
overlap

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
28498,"STEWART JR., GEORGE",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
24076,"RAMIREZ JR, RUBEN",SERGEANT,POLICE,F,Salary,NaN,111474.0,NaN
24101,"RAMIREZ, RUBEN R",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
766,"ANDERSON, JOHN S",FIREFIGHTER,FIRE,F,Salary,NaN,90024.0,NaN
22260,"PADILLA, JOSE A",DETENTION AIDE,POLICE,F,Salary,NaN,77520.0,NaN
22265,"PADILLA SOTO, JOSE L",AIRPORT OPERATIONS SUPVSR I,AVIATION,F,Salary,NaN,60372.0,NaN
24196,"RANGEL PADILLA, JOSE D",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,20.12
12584,"HERNANDEZ, VINCENT",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
12585,"HERNANDEZ, VINCENT",STEAMFITTER,AVIATION,F,Hourly,40.0,NaN,47.50
31476,"WEBB, MICHAEL",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
31477,"WEBB, MICHAEL K",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
13965,"JAROSZEWSKI, JOSEPH A",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
25429,"ROGERS JR, KENNETH",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
25432,"ROGERS, KENNETH",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
18223,"MARTINEZ, SERGIO",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
18224,"MARTINEZ, SERGIO",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5969,"CRAWFORD, ANDREW D",CONSTRUCTION LABORER,WATER MGMNT,F,Hourly,40.0,NaN,40.20
600,"ALVAREZ, ANTONIO",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
14183,"JOHNSON, CHARLES",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
14184,"JOHNSON, CHARLES R",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,106452.0,NaN
14281,"JOHNSON JR, CHARLES R",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,32.16
31946,"WILLIAMS, CORNELIUS",WATCHMAN,WATER MGMNT,F,Hourly,40.0,NaN,21.98
6620,"DAVIS, GARY D",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
25348,"RODRIGUEZ, MIGUEL A",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
18038,"MARRERO, WILLIAM J",MACHINIST,WATER MGMNT,F,Hourly,40.0,NaN,46.35
31936,"WILLIAMS-CHRISTMAS, DEMARR",SUPERVISING TRAFFIC CONTROL AIDE,OEMC,F,Salary,NaN,45924.0,NaN
14621,"JONES, SAMUEL L",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
14631,"JONES SR, SAMUEL D",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
14499,"JONES, DWAYNE R",LIEUTENANT,FIRE,F,Salary,NaN,114846.0,NaN
18353,"MASON, MICHAEL W",POLICE COMMUNICATIONS OPERATOR I,OEMC,F,Salary,NaN,70644.0,NaN
...,...,...,...,...,...,...,...,...
11990,"HARRIS, MICHELLE D",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
11992,"HARRIS, NICHELLE R",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
12001,"HARRISON, KIMBERLEY A",STAFF ASST,COMMUNITY DEVELOPMENT,F,Salary,NaN,92592.0,NaN
12023,"HARRIS, TERRELL D",ASPHALT LABORER,TRANSPORTN,F,Hourly,40.0,NaN,40.20
31890,"WILLIAMS, ANDRE",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
31891,"WILLIAMS, ANDRE",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
31892,"WILLIAMS, ANDREA M",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
31893,"WILLIAMS, ANDREA S",ADMINISTRATIVE ASST III,GENERAL SERVICES,F,Salary,NaN,73440.0,NaN
31894,"WILLIAMS, ANDRE L",ASST PROGRAM DIR,HEALTH,F,Salary,NaN,59976.0,NaN
31895,"WILLIAMS, ANDREW L",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
31965,"WILLIAMS, DEANDRE L",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
14584,"JONES, MICHAEL",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
14585,"JONES, MICHAEL D",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
14586,"JONES, MICHAEL J",POLICE OFFICER(ASGND AS LATENT PRINT EX),POLICE,F,Salary,NaN,98052.0,NaN
31084,"WALLACE, ERICK",PLUMBER,WATER MGMNT,F,Hourly,40.0,NaN,48.25
1577,"BARKSDALE JR, THOMAS J",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
12731,"HILL, ANTHONY",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
11936,"HARRIS, ANDRE D",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
11955,"HARRIS, DEANDRE",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
19267,"MEDINA, JONATHAN P",SERGEANT,POLICE,F,Salary,NaN,104628.0,NaN
24933,"RIVERA, VICTOR L",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
24934,"RIVERA, VICTOR L",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
27665,"SMITH, CURTIS L",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
31730,"WHITE, MICHAEL J",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
19379,"MENDEZ, MARK A",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
6921,"DELGADO, JOSE B",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
25217,"RODRIGUEZ, ARMANDO",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,80868.0,NaN
11207,"GRIFFIN, MAURICE",PARKING ENFORCEMENT AIDE,FINANCE,F,Salary,NaN,38136.0,NaN
9881,"GARCIA, ISRAEL D",AMBULANCE COMMANDER,FIRE,F,Salary,NaN,125130.0,NaN
27384,"SIMMONS, MICHAEL W",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21

In [20]:
overlap['Department'].unique()

array(['OEMC', 'POLICE', 'FIRE', 'AVIATION', 'STREETS & SAN',
       'WATER MGMNT', 'GENERAL SERVICES', 'CITY COUNCIL',
       'FAMILY & SUPPORT', 'COMMUNITY DEVELOPMENT', 'TRANSPORTN',
       'CITY CLERK', 'PUBLIC LIBRARY', 'COPA', 'BUILDINGS',
       'BOARD OF ELECTION', 'HEALTH', 'FINANCE'], dtype=object)

In [21]:
overlap[overlap['Department'] == 'HEALTH']

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
10966,"GRAHAM, DAVID S",ASST COMMISSIONER,HEALTH,F,Salary,NaN,102672.0,NaN
31894,"WILLIAMS, ANDRE L",ASST PROGRAM DIR,HEALTH,F,Salary,NaN,59976.0,NaN